<div class="container">
  <div class="row">
    <div class="col-md-8" *ngIf="predioSelecionado">
      <label class="btn btn-success" *ngIf="(!isPlanilhaInserida && selectedBuildingId!=0)">
        <i class="fas fa-upload"></i> Inserir
        <input type="file" style="display: none;" (change)="uploadFile($event)">
        <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </label>
      <button *ngIf="isPlanilhaInserida || isCheckboxMarcado" class="btn btn-warning ml-2 ml-2" (click)="salvarDados()">
        <i class="fas fa-save"></i> Salvar Dados
      </button>
    </div>
    <div class="col-md-3">
      <h5>CNPJ: {{ cnpj }}</h5>
    </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <h5>Inadimplentes</h5>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col">Pago?</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pagamento of pagamentosEmAtraso">
                <td>{{ pagamento.apt_name }}</td>
                <td>{{ pagamento.data_vencimento }}</td>
                <td>{{ formatCurrencyPTBR(pagamento.valor) }}</td>
                <!-- Novo checkbox -->
                <td>
                  <input type="checkbox" (change)="marcarComoPago(pagamento, $event)" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="col-md-3">
        <h5>Inadimplentes Pagos</h5>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pagamento of pagamentosAtrasadosPagos">
                <td>{{ pagamento.apt_name }}</td>
                <td>{{ pagamento.data_vencimento }}</td>
                <td>{{ formatCurrencyPTBR(pagamento.valor) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Pagos no Mês</h5>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let condominio of pagamentosMesmoMesPagos">
                <td>{{ condominio.apt_name }}</td>
                <td>{{ condominio.data_vencimento }}</td>
                <td>{{formatCurrencyPTBR(condominio.valor)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Arquivo XLS</h5>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let condominio of condominiosPagos">
                <td>{{ condominio.apt_name }}</td>
                <td>{{ condominio.data_vencimento }}</td>
                <td>{{formatCurrencyPTBR(condominio.valor)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
