.container {
  font-family: Arial, sans-serif;
  margin-top: 15px;
}

h2 {
  color: #198754;
}

/* Estilos para a tabela e cabeçalho sticky */
.table-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.table-wrapper::-webkit-scrollbar {
  width: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #B7B7B7;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1px;
}

.table th {
  background-color: #198754;
  color: #fff;
  position: sticky;
  top: 0;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

/* Botões gerais */
.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn,
.edit-btn,
.delete-btn {
  color: white;
  margin-left: 5px;
}

/* Botões específicos */
.add-btn {
  background-color: #198754;
}

.edit-btn {
  background-color: #28a745;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Botão adicionar pequeno */
.add-btn-small {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.add-btn-small:hover {
  background-color: #218838;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #198754;
  color: white;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  color: #198754;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.input-field:focus {
  border-color: #4caf50;
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
  background: #f4f4f4;
}

.save-btn {
  background-color: #198754;
  color: white;
}

.cancel-btn {
  background-color: #757575;
  color: white;
}
/* Classe para a seta */
.step-arrow {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
}

/* Seta aberta (aponta para baixo quando a tabela é exibida) */
.step-arrow.open {
  transform: rotate(90deg); /* Rotaciona a seta para baixo */
}
.step-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
