<div class="container">
  <h2>Gerenciar Saldos</h2>
  <div [formGroup]="myGroup">
    <select id="building_id" name="building_id" class="form-control" formControlName="building_id" required (change)="onBuildingSelect($event)" style="margin-bottom: 10px;">
      <option value="" disabled selected>Selecione o prédio</option>
      <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
    </select>
  </div>

  <div class="actions">
    <button class="btn add-btn" (click)="addBuildingBalance()">Adicionar Saldo de Prédio</button>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="table-wrapper">
        <h3>Saldos da Conta Corrente</h3>
        <table class="table mt-4">
          <thead>
            <tr>
              <th>Valor</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let balance of saldoPredios">
              <tr *ngIf="balance.type == 'conta'">
                <td>{{ formatReal(balance.valor) }}</td>
                <td>{{ balance.data }}</td>
                <td>
                  <button class="btn edit-btn" (click)="editBuildingBalance(balance)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn delete-btn" (click)="deleteBuildingBalance(balance.id!)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="table-wrapper">
        <h3>Saldos de Investimento</h3>
        <table class="table mt-4">
          <thead>
            <tr>
              <th>Valor</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let balance of saldoPredios">
              <tr *ngIf="balance.type == 'investimento'">
                <td>{{ formatReal(balance.valor) }}</td>
                <td>{{ balance.data }}</td>
                <td>
                  <button class="btn edit-btn" (click)="editBuildingBalance(balance)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn delete-btn" (click)="deleteBuildingBalance(balance.id!)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-header ">
        <h4>{{ editingBalance ? 'Editar' : 'Adicionar' }} {{ isBuildingBalance ? 'saldo' : 'investimento' }} para o {{selectedBuildingName}}</h4>
        <button class="close-btn" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for="amount" class="input-label">Valor</label>
                <input
                  id="amount"
                  class="input-field"
                  type="number"
                  placeholder="Digite o valor"
                  [(ngModel)]="currentBalance.valor"
                />
            </div>
            <div class="col-md-6">
                <label for="date" class="input-label">Data</label>
                <input
                  id="date"
                  class="input-field"
                  type="date"
                  [(ngModel)]="currentBalance.data"
                />
            </div>
        </div>
    </div>
      
    <div class="modal-footer">
      <button class="btn save-btn" (click)="editingBalance ? updateBalance() : saveBalance()">
        {{ editingBalance ? 'Editar' : 'Adicionar' }}
      </button>
      <button class="btn cancel-btn" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>

</div>
