
/* Estilos para a tabela e cabeçalho sticky */
.table-wrapper {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .table-wrapper::-webkit-scrollbar {
    width: 6px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #B7B7B7;
    border-radius: 4px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1px;
  }
  
  .table th {
    background-color: #198754;
    color: #fff;
    position: sticky;
    top: 0;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }