<div class="container ">
  <div class="row">
    <div class="col-md-8" *ngIf="predioSelecionado">
      <label class="btn btn-success" >
        <i class="fas fa-upload"></i> Inserir
        <input type="file" style="display: none;" (change)="uploadFile($event)">
        <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </label>
    </div>
    <div class="col-md-3">
    <h5>CNPJ: {{cnpj}}</h5>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <h5>Inadimplentes</h5>
        <div class="table-wrapper">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pagamento of pagamentosEmAtraso">
                <td>{{ pagamento.apartamento }}</td>
                <td>{{ pagamento.data }}</td>
                <td>{{ pagamento.valor }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Inadimplentes Pagos</h5>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pagamento of pagamentosAtrasadosPagos">
                <td>{{ pagamento.apartamento }}</td>
                <td>{{ pagamento.data }}</td>
                <td>{{ pagamento.valor }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Pagos no Mês</h5>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Apartamento</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let condominio of condominiosPagos">
                <td>{{ condominio.apartamento }}</td>
                <td>{{ condominio.data }}</td>
                <td>{{ condominio.valor }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
