.container{
    margin-top: 30px;
    height: 85vh;
  }
  .spanText1 {
    font-size: 18px;
    font-family: LayarBahtera Doomsday;
    font-weight: bold;
    color: #828886;
  }
  .spanText2 {
    font-size: 18px;
    font-family: LayarBahtera Doomsday;
    font-weight: bolder;
    color:#156e45;
  }
  .custom-select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: bolder;
    color: #555;
    background-color: #fff;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: #198754;
    box-shadow: 0 0 0 0.2rem rgba(3, 48, 23, 0.233);
  }
  .table-wrapper {
    margin-top: 15px;
    max-height: 700px;
    overflow-y: auto;
  }
  
  .table-wrapper::-webkit-scrollbar {
    width: 3px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #B7B7B7;
    border-radius: 4px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1px; /* Aumente o padding para fornecer mais espaço */
  }
  
  
  .table th {
    background-color: #198754;
    color: #fff;
    position: sticky;
    top: 0;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2af;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }

/* Container para o tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Garante que a célula ocupe a largura completa */
  text-align: center; /* Mantém o valor centralizado */
}

/* Estilo do texto da fração */
.tooltip-text {
  font-size: 16px;
  color: #000;
}

/* Estilo do balão que aparecerá */
.tooltip-message {
  visibility: hidden;
  width: 180px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%; /* Centraliza verticalmente em relação à célula */
  left: 100%; /* Posiciona o tooltip à direita da célula */
  transform: translateY(-50%); /* Centraliza verticalmente o tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Evita quebra de linha no tooltip */
}

/* Criação de uma seta em cima do balão */
.tooltip-message::after {
  content: "";
  position: absolute;
  left: -5px; /* Posiciona a seta à esquerda do balão */
  top: 50%;
  margin-top: -5px; /* Ajusta a posição vertical da seta */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent; /* Ajusta a cor da seta */
}

/* Exibe o tooltip ao passar o mouse */
.tooltip-container:hover .tooltip-message {
  visibility: visible;
  opacity: 1;
}
