<div class="container-fluid p-4">
  <div class="dashboard-card">
    <!-- Card Header -->
    <div class="card-header primary">
      <h5><i class="fas fa-file-invoice-dollar me-2"></i>Despesas Comuns</h5>
      <span class="badge bg-success">{{commonExepenses.length}}</span>
    </div>

    <!-- Tabela -->
    <div class="table-container">
      <table class="modern-table">
        <thead>
          <tr>
            <th style="width: 30%;">Detalhe</th>
            <th style="width: 10%;">Data</th>
            <th style="width: 10%;">Valor</th>
            <th style="width: 10%;">Tipo</th>
            <th style="width: 10%;">Parcela</th>
            <th style="width: 10%;">Total</th>
            <th style="width: 10%;">Nota Fiscal</th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of commonExepenses">
            <ng-container *ngIf="!expense.tipoGasto_id; else detalhes">
              <td>{{ expense.tipo_Gasto_Extra }}</td>
            </ng-container>
            <ng-template #detalhes>
              <td>{{ getExpenseDetalhes(expense) }}</td>
            </ng-template>

            <td>{{ formatarData(expense.data_gasto)}}</td>
            <td>R$ {{ expense.valor }}</td>
            <td>{{ expense.tipo }}</td>
            <td>{{ expense.parcela }}</td>
            <td>{{ expense.total_parcelas }}</td>
            
            <td>
              <div class="d-flex gap-2 justify-content-center">
                <ng-container *ngIf="!expense.nota_id; else notaActions">
                  <label class="btn btn-success-gradient btn-sm">
                    <i class="fas fa-upload me-2"></i>
                    <input type="file" hidden accept=".pdf" 
                           (change)="criarNotaGastoComumSelected($event, expense)" *ngIf="!expense.documento" />
                  </label>
                </ng-container>

                <ng-template #notaActions>
                  <button class="btn btn-success-gradient btn-sm" 
                          (click)="downloadNotaFiscal(expense)">
                    <i class="fas fa-download"></i>
                  </button>
                  <button class="btn btn-danger-gradient btn-sm" 
                          (click)="deleteNotaFiscal(expense)">
                    <i class="fas fa-trash"></i>
                  </button>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>