<div  class="container">

    <div *ngIf="showEditComponent" style="margin-top: 30px;">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-4 p-md-5 border rounded bg-light">
                <h4 class="text-center mb-2">{{titleEditApartamento}}</h4>
                
                <!-- Nome do Apartamento -->
                <div class="form-group mb-3">
                  <label class="form-label" for="nome">Nome do Apartamento:</label>
                  <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome da apartamento" formControlName="nome" required/>
                </div>

                <!-- Bloco -->
                <div class="form-group mb-3">
                    <label class="form-label" for="bloco">Bloco:</label>
                    <input type="text" id="bloco" name="bloco" class="form-control" placeholder="Bloco" formControlName="bloco" required/>
                </div>
  
                <!-- Prédio -->
                <div class="form-group mb-3">
                  <label class="form-label" for="predio_id">Prédio:</label>
                  <select id="predio_id" name="predio_id" class="form-control" formControlName="predio_id" required>
                    <option value="Selecione" selected disabled>Selecione o prédio</option>
                    <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
                  </select>
                </div>
  
                <!-- Fração -->
                <div class="form-group mb-3">
                  <label class="form-label" for="fracao">Fração:</label>
                  <input type="number" id="fracao" name="fracao" class="form-control" placeholder="Fração" formControlName="fracao" required step="0.000001" min="0" />
                </div>
  
                <div class="text-center text-md-start mt-4 pt-2">
                  <div class="row">
                    <div class="col-md-6 mb-3" *ngIf="isEditing">
                      <button type="submit" class="btn btn-success btn-lg px-4">Atualizar</button>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="!isEditing">
                      <button type="submit" class="btn btn-success btn-lg px-4">Criar</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-danger btn-lg px-4" (click)="cancelarEdit()">Cancelar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
  
    </div>
    
    <div *ngIf="!showEditComponent" style="margin-top: 30px;">
      <div [formGroup]="myGroup" >
        <select id="building_id" name="building_id" class="form-control" formControlName="building_id" required  (change)="onBuildingSelect($event)" style="margin-bottom: 10px;">
          <option value="" disabled selected>Selecione o prédio</option>
          <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
        </select>
        <button class="btn btn-primary" style="margin-bottom: 10px;"(click)="addApartamento()">Adicionar Apartamento</button>
        <div class="table-wrapper">
          <table class="table narrow-table">
            <thead>
              <tr>
                <th scope="col" style="width: 20%;">Nome</th>
                <th scope="col" style="width: 20%;" class="hidden-small-screen">Bloco</th>
                <th scope="col" style="width: 20%;" class="hidden-small-screen">Fração</th>
                <th scope="col" style="width: 20%;">Editar</th>
                <th scope="col" style="width: 20%;">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let apartamento of apartamentos; let i = index" [ngClass]="{'table-light': i % 2 === 0, 'table-light-gray': i % 2 !== 0}">
                <td>{{ apartamento.nome }}</td>
                <td class="hidden-small-screen">{{apartamento.bloco }}</td>
                <td class="hidden-small-screen">{{apartamento.fracao}}</td>
                <td><button class="btn btn-primary btn-sm" (click)="editApartamento(apartamento)"><i class="fas fa-edit"></i></button></td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteApartamento(apartamento)"><i class="fas fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>