<div class="container">
  <h3>Rateio</h3>
  <h6>{{somaRateios()}}</h6>
  <!-- Loading Spinner -->
  <div *ngIf="loading" class="loading-spinner">
    <p>{{ textoLoading }}</p>
    <ng-container *ngIf="downloading">
    <!-- Barra de Progresso -->
    <div class="progress-container">
      <div class="progress-bar" [ngStyle]="{'width': loadingPercentage + '%'}"></div>
    </div>
  
    <!-- Botão de Cancelar -->
    <button class="cancel-button" (click)="cancelDownloadProcess()">Cancelar</button>
    </ng-container>

  </div>
  
  
  

  <!-- Mensagem de erro personalizada -->
  <div *ngIf="!loading && !usersRateio.length && mensagemErro" class="error-message">
    <p>{{ mensagemErro }}</p>
  </div>

  <!-- Tabela de contas -->
  <div *ngIf="!loading && usersRateio.length">
    <div class="d-flex justify-content-end mb-2">
      <button class="btn btn-secondary" (click)="downloadAllRateios('preview')">
        <i class="fas fa-download"></i> Prévia
      </button>
        <!-- Novo botão para CNAB400 -->
      <button class="btn btn-info" style="margin-left: 15px;" (click)="downloadCNAB400()">
        <i class="fas fa-file-alt"></i> CNAB400
      </button>
      
      <div *ngIf="!rateioGerado">
        <button class="btn btn-primary"  style="margin-left: 15px;" (click)="downloadAllRateios('gerar')">
          <i class="fas fa-download"></i> Gerar Rateios
        </button>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 25%;">Apartamento</th>
            <th scope="col" style="width: 10%;">Fração</th>
            <th scope="col" style="width: 10%;">Valor Individual</th>
            <th scope="col" style="width: 10%;">Valor Comum</th>
            <th scope="col" style="width: 10%;">Provisões</th>
            <th scope="col" style="width: 10%;">Fundos</th>
            <th scope="col" style="width: 10%;">Valor Total</th>
            <th scope="col" style="width: 15%;">Gerar PDF</th> <!-- Nova coluna -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersRateio">
            <td>{{ user.apt_name }}</td>
            <td class="tooltip-container">
              <span class="tooltip-text">{{ formatFracaoTotal(user.fracao_total) }}</span>
              <div class="tooltip-message">
                Frações:<br />
                <ng-container *ngIf="!user.vagas">
                  Fraçao Total: {{ formatFracaoTotal(user.fracao_total) }}
                </ng-container>
                <ng-container *ngIf="user.vagas">
                  Apartamento: {{ user.apt_fracao }}
                  <div *ngFor="let vaga of user.vagas; let i = index">
                    {{ vaga.nome }}: {{ vaga.fracao }} <br />
                  </div>
                </ng-container>
              </div>
            </td>
            <td>{{ formatCurrency(user.valorIndividual) }}</td>
            <td>{{ formatCurrency(user.valorComum) }}</td>
            <td>{{ formatCurrency(user.valorProvisoes) }}</td>
            <td>{{ formatCurrency(user.valorFundos) }}</td>
            <td *ngIf="user.valor">{{ formatCurrency(user.valor) }}</td>
            <td *ngIf="!user.valor">{{ returnValorTotal(user) }}</td>
            <td>
              <button class="btn btn-success" (click)="generateAndDownloadPDF(user)">
                <i class="fas fa-download"></i>
              </button>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
