
<ng-container *ngIf="showUsuariosComponent || showAddUsuariosLoteComponent || showCreateUserComponent "> 
  <div class="container">
    <form [formGroup]="myGroup">
      <select id="building_id" name="building_id" class="form-control" formControlName="building_id" required  (change)="onBuildingSelect($event)">
        <option value="" disabled selected>Selecione o prédio</option>
        <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
      </select>
    </form>
  </div>

</ng-container>

<div *ngIf="showUsuariosComponent" >
  <div class="container">
    <br>
    <div class="container" *ngIf="buildingId">
      <button class="btn btn-primary" (click)="createNewUser()">Add Usuário</button>
      <button class="btn btn-primary" style="margin-left:5px;" (click)="manageScreens('usuariosLote')">Add Usuário Lote</button>
      
   </div>
    <div class="table-wrapper">
      <table class="table narrow-table">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Nome</th>
            <th scope="col" style="width: 20%;" class="hidden-small-screen">Sobrenome</th>
            <th scope="col" style="width: 20%;" class="hidden-small-screen">Cpf</th>
            <th scope="col" style="width: 25%;" class="hidden-small-screen">E-mail</th>
            <th scope="col" style="width: 5%;">Editar</th>
            <th scope="col" style="width: 5%;">Reset</th>
            <th scope="col" style="width: 5%;">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of users; let i = index" [ngClass]="{'table-light': i % 2 === 0, 'table-light-gray': i % 2 !== 0}">
            <td>{{ usuario.first_name }}</td>
            <td class="hidden-small-screen">{{ usuario.last_name }}</td>
            <td class="hidden-small-screen" >{{ formatarCPF(usuario.cpf) }}</td>
            <td class="hidden-small-screen">{{ usuario.email }}</td>
            <td> <button class="btn btn-primary btn-sm" (click)="editUser(usuario)"  *ngIf="usuario.role!='admin' || user.role =='admin' "><i class="fas fa-edit"></i></button></td>
            <td> <button class="btn btn-warning btn-sm" (click)="resetPassword(usuario)" *ngIf="usuario.role!='admin' || user.role =='admin'"><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
            <td> <button class="btn btn-danger btn-sm" (click)="deleteUser(usuario)" *ngIf="usuario.role!='admin' || user.role =='admin'"><i class="fas fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showAddUsuariosLoteComponent" >
  <div class="container">
      <div class="row">
        <div *ngIf="loading" class="spinner-border text-success col-md-5" role="status">
          <span class="visually-hidden">Carregando...</span>
        </div>
        <div  *ngIf="!loading" class="col-md-5">
          <ng-container *ngIf="saveData">
            <button class="btn btn-save" (click)="saveGastosIndividuais()">
              <i class="fas fa-save"></i>Salvar
            </button>
            <button class="btn btn-danger" style="margin-left: 5px;" (click)="cancelGastosIndividuais()">
              <i class="fas fa-cancel"></i>Cancelar
            </button>
          </ng-container>
          <ng-container *ngIf="!saveData">
            <label class="btn btn-success" >
              <i class="fas fa-upload"></i> Inserir
              <input type="file" style="display: none;" (change)="handleFileInput($event)">
              <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </label>
          </ng-container>       
          <button class="btn btn-primary" (click)="downloadModel()" style="margin-left: 5px;">
            <i class="fas fa-download"></i> Modelo
          </button>
          <button class="btn btn-secondary" (click)="manageScreens('usuarios')" style="margin-left: 5px;">
             Voltar
          </button>
        </div>
      </div>
      <table class="table" *ngIf="!loading">
        <thead>
          <tr>
            <th scope="col" style="width: 20%;">Primeiro Nome</th>
            <th scope="col" style="width: 20%;">Sobrenome</th>
            <th scope="col" style="width: 20%;">CPF</th>
            <th scope="col" style="width: 25%;">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <!-- Itera sobre os dados dos usuários e preenche as linhas da tabela -->
          <ng-container *ngFor="let user of usersInsert; let i = index">
            <tr [ngClass]="{'table-light': i % 2 === 0, 'table-light-gray': i % 2 !== 0}">
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.cpf }}</td>
              <td>{{ user.email }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      
  </div>
</div>

  <div *ngIf="showEditComponent || showCreateUserComponent" >
    <div class="scrollable-container ">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <form [formGroup]="registerForm" (ngSubmit)="criarOuEditarUsuario()" class="p-4 p-md-5 border rounded bg-light">
                <h4 class="text-center mb-2">{{telaEditaCriar}}</h4>
                <!-- Nome e Sobrenome na mesma linha -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label class="form-label" for="first_name">Primeiro Nome:</label>
                      <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Primeiro nome" formControlName="first_name" required/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label class="form-label" for="last_name">Sobrenome:</label>
                      <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Sobrenome" formControlName="last_name" required/>
                    </div>
                  </div>
                </div>
                <!-- CPF e Telefone na mesma linha -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label class="form-label" for="cpfInput">CPF:</label>
                      <input type="text" id="cpfInput" name="cpfInput" class="form-control" placeholder="Insira seu CPF" formControlName="cpf"  mask="000.000.000-00" required/>
                    </div>
                  </div>
        
                </div>

                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label class="form-label" for="email">Endereço de e-mail:</label>
                    <input type="email" id="email" name="email" class="form-control" [class.invalid]="registerForm.get('emailGroup')?.errors?.['mismatch']" placeholder="Insira um e-mail válido" formControlName="email" required autocomplete="username"/>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label class="form-label" for="role">Função do Usuário:</label>
                  <select id="role" name="role" class="form-control"  formControlName="role" *ngIf="user">
                    <option value="sindico">Síndico</option>
                    <option value="admin"  >Administrador</option>
                    <option value="morador">Morador</option>
                  </select>
                </div>
                <div class="text-center text-md-start mt-4 pt-2">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <button type="submit" class="btn btn-success btn-lg px-4">{{botaoForm}}</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-danger btn-lg px-4" (click)="cancelarEdit()">Cancelar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
