<app-nav-bar class="mb-4"></app-nav-bar>
<div class="container" >
  <h3>Tela de Gastos Individuais</h3>
  <form [formGroup]="myForm"> <!-- Wrap your form controls within a formGroup directive -->
    <div class="row">
      <div class="col-md-3">
        <select id="building_id" name="building_id" class="form-control custom-select" formControlName="building_id" required (change)="loadExpenses()">
          <option value="0" disabled selected>Selecione o prédio</option>
          <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <select id="months" name="months" class="form-control custom-select" formControlName="months" required (change)="loadExpenses()" >
          <option value="0" disabled selected>Selecione o mês</option>
          <option *ngFor="let month of months" [value]="month.monthNumber">{{ month.monthName }}</option>
        </select>
      </div>
      
      <div class="col-md-2">
        <select id="years" name="years" class="form-control custom-select" formControlName="years" required (change)="loadExpenses()" >
          <option value="0" disabled selected>Selecione o ano</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <div *ngIf="loading" class="spinner-border text-success col-md-5" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
      <div  *ngIf="!loading" class="col-md-5">
        <ng-container *ngIf="gastosIndividuaisInsert.length > 0">
          <ng-container *ngIf="saveData">
            <button class="btn btn-save" (click)="saveGastosIndividuais()">
              <i class="fas fa-save"></i>Salvar
            </button>
            <button class="btn btn-danger" style="margin-left: 5px;" (click)="cancelGastosIndividuais()">
              <i class="fas fa-cancel"></i>Cancelar
            </button>
          </ng-container>
          <ng-container *ngIf="!saveData">
            <label class="btn btn-success" >
              <i class="fas fa-upload"></i> Inserir
              <input type="file" style="display: none;" (change)="handleFileInput($event)">
              <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </label>
          </ng-container>       
          <button class="btn btn-primary" (click)="downloadModel()" style="margin-left: 5px;">
            <i class="fas fa-download"></i> Modelo
          </button>
        </ng-container>
        <ng-container *ngIf="gastosIndividuais.length > 0">
            <button class="btn btn-primary" style="margin-left: 5px;" (click)="downloadFilledSheet()">
              <i class="fas fa-download"></i> Baixar Dados
            </button>
            <button class="btn btn-danger" style="margin-left: 5px;" (click)="deleteAll()">
              <i class="fas fa-trash"></i>Deletar todos
            </button>
           </ng-container>
      </div>
      <div class="col-md-12 mt-4" *ngIf="gastosIndividuaisInsert.length > 0">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-2 d-flex align-items-center">
            <span class="label-title">Taxa Água:</span>
            <input class="form-control custom-input ms-2" formControlName="taxaAgua" (change)="calculateAguaValue()">
          </div>
          <div class="col-md-4">
            Valor de Água inserido em Gastos Comuns: <span class="value-label">{{valorAguaGastoComum | currency:'BRL':'symbol-narrow':'1.2-2'}}</span>
          </div>
          <div class="col-md-2 d-flex align-items-center">
            <span class="label-title">Taxa Gás:</span>
            <input class="form-control custom-input ms-2" formControlName="taxaGas" (change)="calculateGasValue()">
          </div>
        </div>
      </div>
      
    </div>
    <!-- Add other form controls within the formGroup -->
  </form>

  <!-- Tabela de contas -->
  <div class="table-wrapper"  *ngIf="gastosIndividuais.length > 0 || gastosIndividuaisInsert.length > 0 ">
    <table class="table" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col" style="width: 10%;">Apartamento</th>
          <th scope="col" style="width: 5%;">Fracao</th>
          <th scope="col" style="width: 10%;">Uso (m3)</th>
          <th scope="col" style="width: 10%;">Água</th>
          <th scope="col" style="width: 10%;">Uso (m3)</th>
          <th scope="col" style="width: 10%;">Gás</th>
          <th scope="col" style="width: 10%;">Lazer</th>
          <th scope="col" style="width: 10%;">Multa</th>
          <th scope="col" style="width: 10%;">Lavanderia</th>     
          <th scope="col" style="width: 10%;">Total</th>     
        </tr>
      </thead>
      <tbody>
        <!-- Aqui você pode iterar sobre os dados das contas e preencher as linhas da tabela -->
        <ng-container>
          <tr *ngFor="let gastoIndividual of gastosIndividuais">
            <td>{{ gastoIndividual.apt_name }}</td>
            <td>{{ gastoIndividual.apt_fracao }}</td>
            <td>{{ gastoIndividual.aguaM3 }}</td>
            <td>{{ formatCurrency(gastoIndividual.aguaValor) }}</td>
            <td>{{ gastoIndividual.gasM3 }}</td>
            <td>{{ formatCurrency(gastoIndividual.gasValor) }}</td>
            <td>{{ formatCurrency(gastoIndividual.lazer) }}</td>
            <td>{{ formatCurrency(gastoIndividual.multa) }}</td>
            <td>{{ formatCurrency(gastoIndividual.lavanderia) }}</td>
            <td>{{ formatCurrency(gastoIndividual.valorTotal) }}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="gastosIndividuaisInsert.length > 0">
          <tr *ngFor="let gastoIndividual of gastosIndividuaisInsert">
            <td>{{ gastoIndividual.apt_name }}</td>
            <td>{{ gastoIndividual.apt_fracao }}</td>
            <td>{{ gastoIndividual.aguaM3 }}</td>
            <td>{{ formatCurrency(gastoIndividual.aguaValor) }}</td>
            <td>{{ gastoIndividual.gasM3 }}</td>
            <td>{{ formatCurrency(gastoIndividual.gasValor) }}</td>
            <td>{{ formatCurrency(gastoIndividual.lazer) }}</td>
            <td>{{ formatCurrency(gastoIndividual.multa) }}</td>
            <td>{{ formatCurrency(gastoIndividual.lavanderia) }}</td>
            <td>{{ formatCurrency(gastoIndividual.valorTotal) }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>