<app-nav-bar class="mb-4"></app-nav-bar>
<div class="container" style="margin-top: 30px;">
  <h3>Tela de Gastos Individuais</h3>
  <form [formGroup]="myForm"> <!-- Wrap your form controls within a formGroup directive -->
    <div class="row">
      <div class="col-md-3">
        <select id="building_id" name="building_id" class="form-control custom-select" formControlName="building_id" required (change)="loadExpenses()">
          <option value="0" disabled selected>Selecione o prédio</option>
          <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <select id="months" name="months" class="form-control custom-select" formControlName="months" required (change)="loadExpenses()" >
          <option value="" disabled selected>Selecione o mês</option>
          <option *ngFor="let month of filteredMonths" [value]="month.monthNumber">{{ month.monthName }}</option>
        </select>
      </div>
      
      <div class="col-md-2">
        <select id="years" name="years" class="form-control custom-select" formControlName="years" required (change)="loadExpenses()" >
          <option value="" disabled selected>Selecione o ano</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <div class="col-md-5">
        <ng-container *ngIf="gastosIndividuaisInsert.length > 0">
          <ng-container *ngIf="saveData">
            <button class="btn btn-save" (click)="saveGastosIndividuais()">
              <i class="fas fa-save"></i>Salvar
            </button>
            <button class="btn btn-danger" style="margin-left: 5px;" (click)="cancelGastosIndividuais()">
              <i class="fas fa-cancel"></i>Cancelar
            </button>
          </ng-container>
          <ng-container *ngIf="!saveData">
            <label class="btn btn-success" >
              <i class="fas fa-upload"></i> Inserir
              <input type="file" style="display: none;" (change)="handleFileInput($event)">
              <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </label>
          </ng-container>

          <button class="btn btn-primary" (click)="downloadModel()" style="margin-left: 5px;">
            <i class="fas fa-download"></i> Modelo
          </button>
        </ng-container>
      </div>

    </div>
    <!-- Add other form controls within the formGroup -->
  </form>
  <!-- Tabela de contas -->
  <div class="table-wrapper">
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col" style="width: 10%;">Apartamento</th>
          <th scope="col" style="width: 10%;">Fracao</th>
          <th scope="col" style="width: 10%;">Uso (m3)</th>
          <th scope="col" style="width: 10%;">Água</th>
          <th scope="col" style="width: 10%;">Uso (m3)</th>
          <th scope="col" style="width: 10%;">Gás</th>
          <th scope="col" style="width: 10%;">Lazer</th>
          <th scope="col" style="width: 10%;">Multa</th>
          <th scope="col" style="width: 10%;">Lavanderia</th>     
          <th scope="col" style="width: 5%;">Total</th>     
        </tr>
      </thead>
      <tbody>
        <!-- Aqui você pode iterar sobre os dados das contas e preencher as linhas da tabela -->
        <ng-container *ngIf="gastosIndividuais.length>0">
          <tr *ngFor="let gastoIndividual of gastosIndividuais" >
            <td>{{gastoIndividual.apt_name}}</td>
            <td>{{gastoIndividual.apt_fracao}}</td>
            <td>{{gastoIndividual.aguaM3}}</td>
            <td>{{gastoIndividual.aguaValor}}</td>
            <td>{{gastoIndividual.gasM3}}</td>
            <td>{{gastoIndividual.gasValor}}</td>
            <td>{{gastoIndividual.lazer}}</td>
            <td>{{gastoIndividual.multa}}</td>
            <td>{{gastoIndividual.lavanderia}}</td>
            <td>{{gastoIndividual.valorTotal}}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="gastosIndividuaisInsert.length>0">
          <tr *ngFor="let gastoIndividual of gastosIndividuaisInsert" >
            <td>{{gastoIndividual.apt_name}}</td>
            <td>{{gastoIndividual.apt_fracao}}</td>
            <td>{{gastoIndividual.aguaM3}}</td>
            <td>{{gastoIndividual.aguaValor}}</td>
            <td>{{gastoIndividual.gasM3}}</td>
            <td>{{gastoIndividual.gasValor}}</td>
            <td>{{gastoIndividual.lazer}}</td>
            <td>{{gastoIndividual.multa}}</td>
            <td>{{gastoIndividual.lavanderia}}</td>
            <td>{{gastoIndividual.valorTotal}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>