<app-nav-bar class="mb-4"></app-nav-bar>

<div *ngIf="addGastosView" style="margin-top: 30px;">
  <div class="mb-3">
    <div class="row">
      <div class="col-md-12">
        <div class="file-upload-container">
          <label class="custom-file-upload">
            <input type="file" id="fileInput" class="file-upload-input" (change)="onFileSelected($event)" accept=".csv" multiple>
          </label>
          
          <div class="uploaded-files">
            <ul>
              <li *ngFor="let selectedFile of selectedFiles; let i = index">
                {{ selectedFile.name }}
                <button class="file-upload-clear-btn" (click)="deleteFile(i)">X</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Detalhe</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
        <th scope="col">Parcelar?</th>
        <th scope="col">Adicionar?</th>
        
      </tr>
    </thead>
    <tbody>
      <!-- Aqui você pode iterar sobre os dados das contas e preencher as linhas da tabela -->
      <tr *ngFor="let contaAdd of contasAdicionar">
        <td>{{ contaAdd.data }}</td>
        <td>{{ contaAdd.detalhe }}</td>
        <td [ngClass]="corDaCelulaConta(contaAdd.valor)">{{ contaAdd.valor }}</td>
        <td>
          <select>
            <option>Rateio</option>
            <option>Fundo de Reservar</option>
            <option>Provisão</option>
          </select>
        </td>
        <td>
          <select>
            <option>A vista</option>
            <option>1 X</option>
            <option>2 X</option>
            <option>3 X</option>
          </select>
        </td>
        <td>
          <label class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="contaAdd.adicionar">
            <span class="checkmark"></span>
          </label>
        </td>
        
      </tr>
    </tbody>
  </table>


</div>

<div *ngIf="!addGastosView" style="margin-top: 30px;">
  <div class="container">
    <h3>Tela de Gastos Comuns</h3>
    <form [formGroup]="myForm"> <!-- Wrap your form controls within a formGroup directive -->
      <div class="row">
        <div class="col-md-6">
          <select id="building_id" name="building_id" class="form-control" formControlName="building_id" required (change)="onBuildingSelect($event)">
            <option value="" disabled selected>Selecione o prédio</option>
            <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <select id="months" name="months" class="form-control" formControlName="months" required>
            <option value="" disabled selected>Selecione o mês</option>
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
          </select>
        </div>
      </div>
      <!-- Add other form controls within the formGroup -->
    </form>
    
    <!-- Tabela de contas -->
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Detalhe</th>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aqui você pode iterar sobre os dados das contas e preencher as linhas da tabela -->
        <tr *ngFor="let exepense of commonExepenses">
          <td>{{ exepense.detalhes }}</td>
          <td>{{ formatarData(exepense.data_gasto)}}</td>
          <td>{{ exepense.valor }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
