/* Add new styles for the uploaded files display */
.uploaded-files {
    margin-top: 10px;
  }

  
  
  .uploaded-files ul {
    list-style-type: none;
    padding: 0;
  }
  
  .uploaded-files li {
    display: inline-block;
    margin-right: 10px;
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 4px;
    position: relative;
  }

  .file-upload-input {
    display: none; /* Oculta o input de arquivo padrão */
  }
  .spanText1 {
    font-size: 18px;
    font-family: LayarBahtera Doomsday;
    font-weight: bold;
    color: #828886;
  }
  .spanText2 {
    font-size: 18px;
    font-family: LayarBahtera Doomsday;
    font-weight: bolder;
    color:#156e45;
  }
  
  .custom-file-upload {
    /* Estilo para o botão de upload personalizado */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    /* Estilo hover para o botão de upload personalizado */
    background-color: #f0f0f0;
  }
  
  /* Estilize o texto do botão de upload */
  .custom-file-upload::before {
    content: 'Selecione o arquivo'; /* Texto do botão */
  }
  
  .custom-file-upload::after {
    content: '\1F4C2'; /* Ícone de arquivo Unicode (pode ser substituído por um ícone de sua escolha) */
    margin-left: 5px; /* Espaçamento entre o texto e o ícone */
  }
  
  /* Adjust existing styles for file upload container */
  .file-upload-container {
    margin-bottom: 10px;
  }
  
  /* Adjust existing styles for clear button */
  .file-upload-clear-btn {
    background-color: #dc3545;
    color: white;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: background-color 0.3s;
  }
  
  .file-upload-clear-btn:hover {
    background-color: #c82333;
  }
/* Estilos para os botões */
.btn {
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.btn-primary {
  background-color: #198754;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #156e45;
}

/* Estilos para a tabela e cabeçalho sticky */
.table-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.table-wrapper::-webkit-scrollbar {
  width: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #B7B7B7;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1px;
}

.table th {
  background-color: #198754;
  color: #fff;
  position: sticky;
  top: 0;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.custom-btn-sm {
  height: 30px;
  font-size: 12px;
}

.custom-select {
  border-radius: 5px;
  color: #828886;
  font-weight: bold;
  font-family: LayarBahtera Doomsday;
  text-align: left;
  width: 100%;
  /* Adicione outros estilos personalizados conforme necessário */
  
}

.custom-select::placeholder {
  opacity: 0.9; /* Altere o valor conforme necessário para ajustar a opacidade */
  color: #a2a8a6;
}
.custom-select:focus {
  outline: none;
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 179, 0.212);
}

.custom-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #828886;
  font-weight: bold;
  font-family: LayarBahtera Doomsday;
  text-align: left;
  transition: border-color 0.3s ease;
  width: 100%;
  padding: 8px 12px;
  
}
.custom-input::placeholder {
  opacity: 0.8; /* Altere o valor conforme necessário para ajustar a opacidade */
  color:#a2a8a6 ;
}


.custom-input:focus {
  outline: none;
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 179, 0.212);
}
.spanValorParcela{
  color: #828886;
  font-weight: bold;
  font-family: LayarBahtera Doomsday;
}

.checkbox-cell {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  vertical-align: middle; /* Centraliza o conteúdo verticalmente */
}

.custom-checkbox input[type="checkbox"] {
  /* Caso deseje customizar ainda mais o estilo do checkbox */
  transform: scale(1.2); /* Aumenta o tamanho do checkbox */
}

.red-trash {
  color: red;
  cursor: pointer;
  transition: color 0.3s ease;
}

.red-trash:hover {
  color: darkred;
}