<div class="container">
  <div class="row">
    <div class="col-md-5">
      <ng-container *ngIf="gastosView=='inicial'">
        <button class="btn btn-primary" (click)="toggleAddGastosView('manual')">Gasto Manual</button>
        <button class="btn btn-primary" (click)="toggleAddGastosView('lote')">Gastos em Lote</button>
      </ng-container>
      <ng-container *ngIf="gastosView!='inicial'">
        <button class="btn btn-primary" (click)="toggleAddGastosView('inicial') ">Voltar</button>
      </ng-container>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-3"><span class="spanText1">Rateio :</span><span class="spanText2"> R$ {{rateio.toFixed(2)}}</span></div>
        <div class="col-md-3"><span class="spanText1">Provisão:</span><span class="spanText2"> R$ {{provisao.toFixed(2)}}</span></div>
        <div class="col-md-3" *ngIf="gastosView!='inicial'"><span class="spanText1"> Inserido:</span><span class="spanText2">R$ {{inserido.toFixed(2)}}</span></div>
        <div class="col-md-3">
          <div class="col-md-12">
            <span class="spanText1">Total :</span><span class="spanText2"> R$ {{valorTotal.toFixed(2)}}</span>
          </div>
          <div class="col-md-12">
            <span class="spanText1">Por Apt :</span><span class="spanText2"> R$ {{valorTotalPorApt.toFixed(2)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="gastosView == 'inicial'" style="margin-top: 30px;">
    <h3>Tela de Gastos Comuns</h3>
    <!-- Tabela de contas -->
    <div class="table-wrapper">
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col" style="width: 30%;">Detalhe</th>
            <th scope="col" style="width: 10%;">Data</th>
            <th scope="col" style="width: 10%;">Valor</th>
            <th scope="col" style="width: 10%;">Tipo</th>
            <th scope="col" style="width: 10%;">Parcela</th>
            <th scope="col" style="width: 10%;">Total de parcelas</th>
            <th scope="col" style="width: 10%;">Nota Fiscal</th>  
            <th scope="col" style="width: 10%;">Ação</th>      
          </tr>
        </thead>
        <tbody>
          <!-- Aqui você pode iterar sobre os dados das contas e preencher as linhas da tabela -->
          <tr *ngFor="let expense of commonExepenses">
            <ng-container *ngIf="!expense.tipoGasto_id">
              <td>{{ expense.tipo_Gasto_Extra }}</td>
            </ng-container>
            <ng-container *ngIf="expense.tipoGasto_id">
              <td>{{ getExpenseDetalhes(expense) }}</td>
            </ng-container>
            <td>{{ formatarData(expense.data_gasto)}}</td>
            <td>R$ {{ expense.valor }}</td>
            <td>{{ expense.tipo }}</td>
            <td>{{ expense.parcela }}</td>
            <td>{{ expense.total_parcelas }}</td>
            <td *ngIf="!expense.nota_id">
              <input type="file" accept=".pdf" (change)="criarNotaGastoComumSelected($event, expense)" *ngIf="!expense.documento" />
            </td>
            <td *ngIf="expense.nota_id">
              <button class="btn btn-success" (click)="downloadNotaFiscal(expense)"><i class="fas fa-download"></i></button>
              <button class="btn btn-danger btn-xs" (click)="deleteNotaFiscal(expense)"><i class="fas fa-trash"></i></button>
            </td>
            <td><button class="btn btn-danger btn-xs" (click)="deleteExpense(expense)"><i class="fas fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>


</div>

<div *ngIf="gastosView=='lote'" style="margin-top: 10px;">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-4">
          <select id="building_id" name="building_id" class="form-control custom-select"  [(ngModel)]="buildingIdForCommonExpenses" required (change)="changeBuildingIdForCommomExpenses()" >
            <option value="0" disabled selected>Selecione o prédio</option>
            <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
          </select>
        </div>
        <div class="col-md-8" *ngIf="buildingId">
          <div class="file-upload-container">
            <label class="custom-file-upload">
              <input type="file" id="fileInput" class="file-upload-input" (change)="onFileSelected($event)" accept=".csv">
            </label>
            <div class="uploaded-files">
              <ul>
                <li *ngFor="let selectedFile of selectedFiles; let i = index">
                  {{ selectedFile.name }}
                  <button class="file-upload-clear-btn" (click)="deleteFile(i)">X</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">Data</th>
            <th scope="col" style="width: 10%;" colspan="2">Detalhe</th> <!-- colspan 2 adicionado -->
            <th scope="col" style="width: 50%;">Original</th>
            <th scope="col" style="width: 10%;">Valor</th>
            <th scope="col" style="width: 10%;">Tipo</th>
            <th scope="col" style="width: 5%;">Parcelar</th>
            <th scope="col" style="width: 5%;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aqui você pode iterar sobre os dados das contas e preencher as linhas da tabela -->
          <tr *ngFor="let contaAdd of contasAdicionar">
            <td>{{ contaAdd.data }}</td>
            <td class="checkbox-cell"> <!-- Adicionei a classe aqui -->
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="contaAdd.checkboxDetalhe" (click)="checkBoxClikedDetalhe(contaAdd)">
                <span class="checkmark"></span>
              </label>
            </td>
            <ng-container *ngIf="contaAdd.checkboxDetalhe">
              <td> 
                <input class="custom-input" type="text" [(ngModel)]="contaAdd.tipo_Gasto_Extra">
              </td>
            </ng-container>
            <ng-container *ngIf="!contaAdd.checkboxDetalhe">
              <td> 
                <select id="years" name="years" class="custom-select" [(ngModel)]="contaAdd.tipoGasto_id" required>
                  <option *ngFor="let expenseType of expenseTypes" [value]="expenseType.id">{{ expenseType.detalhes }}</option>
                </select>
              </td>
            </ng-container>

            <td>
              <input class="custom-input" type="text" [(ngModel)]="contaAdd.nome_original">
            </td>
            <td class="text-danger">R$ {{ contaAdd.valor | number:'1.2-2' }}</td>
            <td>
              <select class="custom-select" [(ngModel)]="contaAdd.tipo">
                <option value="Rateio">Rateio</option>
                <option value="Não Ratear">Não Ratear</option>
                <option value="Provisão">Provisão Utilizada</option>
                <option value="Fundo de Reserva">Fundo de Reserva Utilizado</option>
                <option value="Provisão">Fundo de Obra Utilizado</option>
                <option value="Agua">Água</option>
              </select>
            </td>
            <td>
              <select class="custom-select" [(ngModel)]="contaAdd.parcelas" (change)="selectContaAddChange(contaAdd)">
                <option value="1">A vista</option>
                <option value="2">2 X</option>
                <option value="3">3 X</option>
                <option value="4">4 X</option>
                <option value="5">5 X</option>
                <option value="6">6 X</option>
                <option value="7">7 X</option>
                <option value="8">8 X</option>
                <option value="9">9 X</option>
                <option value="10">10 X</option>
                <option value="11">11 X</option>
                <option value="12">12 X</option>
              </select>
            </td>
            <td>
              <i class="fas fa-trash red-trash" (click)="deleteConta(contaAdd)"></i>
            </td>
                       
          </tr>
        </tbody>
      </table>
    </div>
    
    <div style="text-align: right; margin-right: 50px;">
      <button class="btn btn-primary" (click)="submitGastos()">Inserir</button>
    </div>
</div>
<div *ngIf="gastosView=='manual' " style="margin-top: 30px;">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4>Inserir Gasto Manual</h4>
          <form [formGroup]="manualGastoForm" (ngSubmit)="submitManualGasto()">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <select id="predioID" name="predioID" class="form-control custom-select" formControlName="predioID" required>
                  <option value="Selecione" disabled>Selecione o prédio</option>
                  <option *ngFor="let building of buildings" [value]="building.id">{{ building.nome }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="form-group">
                  <select id="detalhe" name="detalhe" class="form-control custom-select" formControlName="detalhe" required>
                    <option value="Selecione" disabled>Selecione o detalhe</option>
                    <option *ngFor="let expenseType of expenseTypes" [value]="expenseType.id">{{ expenseType.detalhes }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <select id="tipo" name="tipo" class="form-control custom-select" formControlName="tipo" required>
                    <option value="Rateio">Rateio</option>
                    <option value="Não Ratear">Não Ratear</option>
                    <option value="Provisão Utilizada">Provisão Utilizada</option>
                    <option value="Fundo de Reserva Utilizado">Fundo de Reserva Utilizado</option>
                    <option value="Fundo de Obra Utilizado">Fundo de Obra Utilizado</option>
                    <option value="Agua">Água</option>

                  </select>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="text" class="form-control custom-input "  placeholder="Nome do gasto:" id="nome_original" formControlName="nome_original" required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="date" class="form-control custom-input "  placeholder="Data do gasto:" id="data" formControlName="data" required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="number" class="form-control custom-input " placeholder="Valor Total:" id="valorTotal" formControlName="valorTotal" step="0.01" required (change)="changeInputParcela()">
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="number" class="form-control custom-input " placeholder="Quantidade de parcelas" id="parcela" formControlName="parcela" step="1" min="1"required (change)="changeInputParcela()">
                </div>
              </div>
              <div class="col-md-12 mb-3" *ngIf="valorParcela > 1">
                <div class="form-group">
                  <span class="spanValorParcela">Valor da parcela: <span style="color:#198754;">R$ {{valorParcela.toFixed(2)}}</span></span>
                </div>
              </div>
              
            <button type="submit" class="btn btn-primary">Inserir Gasto</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

