<div class="calendar-container">
    <h1>Calendário do Airbnb</h1>
  
    <div *ngIf="calendarData; else loading">
      <!-- Tabela para exibir as reservas -->
      <table class="calendar-table">
        <thead>
          <tr>
            <th>Apartamento</th>
            <th>Resumo</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Descrição</th>
            <th>Link de Reserva</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterando sobre todos os eventos -->
          <tr *ngFor="let event of allEvents">
            <td>
              <a [href]="event.reservationUrl" target="_blank">{{ event.apartmentName }}</a>
            </td>
            <td>{{ event.summary }}</td>
            <td>{{ event.startDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ event.endDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ event.description }}</td>
            <td>
              <a [href]="event.reservationUrl" *ngIf="event.reservationUrl" target="_blank">
                Ver Reserva
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #loading>
      <p>Carregando eventos...</p>
    </ng-template>
  </div>
  