/* Container e Tipografia */
.container {
  font-family: Arial, sans-serif;
  margin-top: 15px;
}

h2 {
  color: #198754;
}

/* Estilos da Tabela */
.table-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.table-wrapper::-webkit-scrollbar {
  width: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #B7B7B7;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.table th {
  background-color: #198754;
  color: #fff;
  position: sticky;
  top: 0;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

/* Botões Gerais */
.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn,
.edit-btn,
.delete-btn {
  color: white;
  margin-left: 5px;
}

/* Botões Específicos */
.add-btn {
  background-color: #198754;
}

.edit-btn {
  background-color: #28a745;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Botão Adicionar Pequeno */
.add-btn-small {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.add-btn-small:hover {
  background-color: #218838;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #198754;
  color: white;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  color: #198754;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.input-field:focus {
  border-color: #4caf50;
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
  background: #f4f4f4;
}

.save-btn {
  background-color: #198754;
  color: white;
}

.cancel-btn {
  background-color: #757575;
  color: white;
}

/* Setas do Histórico */
.step-arrow {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
}

.step-arrow.open {
  transform: rotate(90deg);
}

.step-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

/* Estilos do Componente de Upload */

/* Wrapper com borda tracejada */
.file-upload-wrapper {
  border: 2px dashed #198754;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.file-upload-wrapper:hover {
  background-color: #f9f9f9;
}

/* Rótulo de upload */
.file-upload-label {
  display: inline-block;
  cursor: pointer;
  color: #198754;
  font-weight: bold;
}

.file-upload-label span {
  padding: 10px 20px;
  border: 1px solid #198754;
  border-radius: 5px;
}

/* Informações do arquivo enviado */
.file-upload-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.file-name {
  font-weight: bold;
}

.file-actions button {
  margin-left: 5px;
}

/* Botão de Download */
.download-btn {
  background-color: #198754;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #157347;
}
.loading-indicator {
  text-align: center;
  font-size: 16px;
  padding: 15px;
  color: #198754;
}
