<div class="container">
    <h2>Prestação de Contas</h2>
    <ul>
      <li *ngFor="let step of steps; let i = index" class="step-item">
        <div class="step-line" (click)="toggleStep(i)">
          <div class="step-label">
            <span class="step-arrow" [class.open]="step.open">▶</span>
            <span class="step-title">{{ step.label }}</span>
            <span *ngIf="step.completed" class="completed">✔️</span>
          </div>
        </div>
        <div *ngIf="step.open" class="step-content mt-4">
          <ng-container *ngIf="!step.completed">
            <div *ngIf="i === 0"><app-saldo-investimento-predio></app-saldo-investimento-predio></div>
            <div *ngIf="i === 1"><app-fundos></app-fundos></div>
            <div *ngIf="i === 2"><app-nota-fiscal-gastos-comuns></app-nota-fiscal-gastos-comuns></div>
            <div *ngIf="i === 3"><app-cobranca-prestacao></app-cobranca-prestacao></div>
            <div *ngIf="i === 4"><app-pdf-prestacao></app-pdf-prestacao></div>

          </ng-container>
        </div>
      </li>
    </ul>
  </div>
  